@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

/* custome class name */
@layer components{
  .input-form{
    @apply flex-1 py-2 border-b-1 border-gray-400 focus:border-black focus:text-black text-sm text-gray-600 
    placeholder-gray-400 w-full outline-none;
  }

  .input-container-row{
    @apply flex float-left flex-col font-bold w-full;
  }

  .input-lable{
    @apply text-base font-semibold;
  }

  .input-lable-warning{
    @apply p-1 text-[13px] font-light text-orange-500;
  }
}

